<a href="https://colab.research.google.com/github/rashidesai24/Data-Science-Projects/blob/master/PySpark%20with%20Amazon%20Tweets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

**Installing Spark**

To run spark in Colab, we need to first install all the dependencies in Colab environment i.e. Apache Spark 2.3.2 with hadoop 2.7, Java 8 and Findspark to locate the spark in the system. The tools installation can be carried out inside the Colab notebook. Code reference:

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null   #Installing Spark

In [ ]:
!wget -q https://www-us.apache.org/dist/spark/spark-2.4.7/spark-2.4.7-bin-hadoop2.6.tgz # Get Spark Installer version

In [ ]:
!tar xf spark-2.4.7-bin-hadoop2.6.tgz # Untarring Spark Installer

In [ ]:
!pip install -q findspark

Once Spark and Java are installed in Colab, we set an environment path that enables to run Pyspark in the Colab environment. Setting the location of Java and Spark:

In [6]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.7-bin-hadoop2.6"

Running a local  session to test the Spark installation:

In [7]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
# Colab is ready to run Pyspark!

Importing Amazon Responded data and selecting the required columns

In [8]:
data = spark.read.format("csv").option("header","true").load("drive/My\ Drive/Colab\ Notebooks/Amazon_Responded_Oct05.csv")
data1 = data.select("id_str",'tweet_created_at','user_verified','favorite_count','retweet_count','text_')

***Step 1: Remove the records where ‚Äúuser_verified‚Äù is ‚ÄúFALSE‚Äù.***

We will only keep the records where user_verified is TRUE: verified tweets

In [9]:
data_filtered = data1.filter(data1.user_verified == 'False')
data_filtered.count() # Counting the number of tweets whereverified users

193220

In [10]:
data_filtered = data1.filter(data1.user_verified == 'True')
data_filtered.count() # Counting the number of tweets with only vaild/verified users
# Keeping the records where ‚Äúuser_verified‚Äù is True.

171797

In [11]:
data_filtered.select("tweet_created_at").show(5,False) #Displaying the top 5 rows for tweet times from the "tweet_created_at" column

+------------------------------+
|tweet_created_at              |
+------------------------------+
|Tue Nov 01 02:39:55 +0000 2016|
|Tue Nov 01 17:19:57 +0000 2016|
|Tue Nov 01 17:25:26 +0000 2016|
|Tue Nov 01 18:02:03 +0000 2016|
|Tue Nov 01 03:59:02 +0000 2016|
+------------------------------+
only showing top 5 rows

Splitting the date column to parse month date and year

In [12]:
from pyspark.sql.functions import split   
tweet = split(data_filtered["tweet_created_at"], ' ')
data_filtered1 = data_filtered.withColumn('Month', tweet.getItem(1))
data_filtered1 = data_filtered1.withColumn('Date', tweet.getItem(2))
data_filtered1 = data_filtered1.withColumn('Year', tweet.getItem(5))
data_filtered1.show(5)

+--------------------+--------------------+-------------+--------------+-------------+--------------------+-----+----+----+
|              id_str|    tweet_created_at|user_verified|favorite_count|retweet_count|               text_|Month|Date|Year|
+--------------------+--------------------+-------------+--------------+-------------+--------------------+-----+----+----+
|'793281386912354304'|Tue Nov 01 02:39:...|         True|             0|            0|@SeanEPanjab I'm ...|  Nov|  01|2016|
|'793502854459879424'|Tue Nov 01 17:19:...|         True|             0|            0|@SeanEPanjab Plea...|  Nov|  01|2016|
|'793504235400884224'|Tue Nov 01 17:25:...|         True|             0|            0|@SeanEPanjab With...|  Nov|  01|2016|
|'793513446633533440'|Tue Nov 01 18:02:...|         True|             0|            0|@SeanEPanjab I'm ...|  Nov|  01|2016|
|'793301295255945216'|Tue Nov 01 03:59:...|         True|             0|            0|@aakashwangnoo Hi...|  Nov|  01|2016|
+--------------------+--------------------+-------------+--------------+-------------+--------------------+-----+----+----+
only showing top 5 rows

In [13]:
import pyspark.sql.functions as sq 
df = data_filtered1.withColumn("tweet_created_at",sq.concat(sq.col("Month"), sq.lit(" "), sq.col("Date"),sq.lit(" "), sq.col("Year")))
df = df.select('id_str','tweet_created_at','user_verified',df.favorite_count.cast('int'), df.retweet_count.cast('int'),'text_')
df.show(5) # Show only the first 5 rows

+--------------------+----------------+-------------+--------------+-------------+--------------------+
|              id_str|tweet_created_at|user_verified|favorite_count|retweet_count|               text_|
+--------------------+----------------+-------------+--------------+-------------+--------------------+
|'793281386912354304'|     Nov 01 2016|         True|             0|            0|@SeanEPanjab I'm ...|
|'793502854459879424'|     Nov 01 2016|         True|             0|            0|@SeanEPanjab Plea...|
|'793504235400884224'|     Nov 01 2016|         True|             0|            0|@SeanEPanjab With...|
|'793513446633533440'|     Nov 01 2016|         True|             0|            0|@SeanEPanjab I'm ...|
|'793301295255945216'|     Nov 01 2016|         True|             0|            0|@aakashwangnoo Hi...|
+--------------------+----------------+-------------+--------------+-------------+--------------------+
only showing top 5 rows

***Step 2: For the records (‚Äúuser_verified‚Äù is ‚ÄúTRUE‚Äù), group by created date, and count the number of tweets for each date***

In [14]:
tweet_count = df.groupby(df.tweet_created_at).agg(sq.count('id_str').alias("count_of_tweets"))
tweet_count.show(10)
# Output will be the dates of the tweets created by date and the count

+----------------+---------------+
|tweet_created_at|count_of_tweets|
+----------------+---------------+
|     Dec 01 2016|            875|
|     Dec 25 2016|            433|
|     Feb 08 2017|            926|
|     Feb 19 2017|            725|
|     Mar 30 2017|           1109|
|     Apr 26 2017|            295|
|     Dec 05 2016|            824|
|     Dec 18 2016|            178|
|     Jul 06 2017|            673|
|     Mar 20 2017|            558|
+----------------+---------------+
only showing top 10 rows

In [15]:
import pyspark
conf = pyspark.SparkConf()
sc = pyspark.SparkContext.getOrCreate(conf=conf)
from pyspark.sql import SQLContext
sqlcontext = SQLContext(sc)

tweet_count.registerTempTable("tmpcounts")
tweet_count_ordered = sqlcontext.sql("SELECT * FROM tmpcounts order by count_of_tweets desc limit 10")
tweet_count_ordered.show()

+----------------+---------------+
|tweet_created_at|count_of_tweets|
+----------------+---------------+
|     Jan 03 2017|           1536|
|     Jan 10 2017|           1508|
|     Jan 11 2017|           1496|
|     Jan 12 2017|           1410|
|     Jan 06 2017|           1364|
|     Jan 07 2017|           1360|
|     Jan 20 2017|           1336|
|     Mar 02 2017|           1296|
|     Jan 13 2017|           1295|
|     Jan 21 2017|           1290|
+----------------+---------------+

***Step 3: For the date with highest number of tweets (you can figure it out from step 2), calculate the sum of ‚Äúfavorite_count‚Äù and ‚Äúretweet_count‚Äù for each tweet on that day. Then report the text content (‚Äútext_‚Äù) of the top 100 tweets with highest sum. Count the word frequency of the 100 tweets and report the result.***

In [16]:
df.registerTempTable("tmpdf")
# Writing a SQL query to retrieve 100 favorite count and retweet count where 
sum_of_retweets = sqlcontext.sql("SELECT text_,favorite_count+ retweet_count as total from tmpdf where tweet_created_at = 'Jan 03 2017' order by total desc limit 100")
sum_of_retweets.show(10,False)
text = sum_of_retweets.toPandas()
a =text["text_"].tolist()

+--------------------------------------------------------------------------------------------------------------------------------------------+-----+
|text_                                                                                                                                       |total|
+--------------------------------------------------------------------------------------------------------------------------------------------+-----+
|@amazon worst shopping  experience,  no service, no substantial reply to complaints, no delivery for 1 week post guarantee date.            |5    |
|@ItsJosshA We always aim to deliver by the date given in your confirmation email. Have we missed that date? Any update in tracking?  ^NF    |3    |
|@ItsJosshA Oh no! I'm sorry! Please reach out to us so that we can look into options: https://t.co/hApLpMlfHN. ^JO                          |2    |
|@KStefl Sounds like you know what to add to your Halloween playlist for this year! ^BV                                                      |2    |
|@Schoey1992 Happy Birthday, Matt! #FriendsForever #FriendshipGoals ^JO                                                                      |2    |
|@ratbones666 You so fancy!!! You already knooow!!! ^EP                                                                                      |2    |
|@ThorpPerrow Awww! Happy Birthday, you don't look a day over 20 ;-) .Pass on your details here: https://t.co/g52MRb0AOt for lil surprise ^RS|2    |
|@thedexterouz Hi! We'd like to help. When you have a moment, please connect with us here:  https://t.co/vlvfJr4nN9 ^YP                      |2    |
|@matt_linsley Please keep us posted on this and let us know if it doesn't arrive tomorrow. ^BV                                              |1    |
|@VlSlT Sorry to hear that, contact us here: https://t.co/hApLpMlfHN and we'll look into it for you. ^AS                                     |1    |
+--------------------------------------------------------------------------------------------------------------------------------------------+-----+
only showing top 10 rows

As a good practice to the data processing, it is important that we clean the data. For the same, defining a function remove punctuation, extra symbols from the usernames

In [17]:
# Importing required libraries
import nltk
import pandas as pd
import string
import re
nltk.download('punkt') # Downloading package punkt
from nltk.tokenize import sent_tokenize, word_tokenize
nltk.download('stopwords')
from collections import Counter

def cleaning(textfile):
    y = textfile
    cleaned=[]
    for i in y:
      # print(i)
      i.replace("'", " ")  #step 1: replacing apostraphe
      i=re.sub(r"\@\w+"," ",i)   #step2: removing words starting with @
      cleaned.append(i.translate(str.maketrans(string.punctuation,' '*len(string.punctuation)))) # step 3: remove_punctuation                   
    output=[]
    for i in cleaned:
        output.append(" ".join([w.lower() for w in i.split()  if w.isalpha()]))    

    return output

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [18]:
clean_text = cleaning(a)
from pyspark import SparkContext
sc =SparkContext.getOrCreate()
k = clean_text
tuple(k)
rdd = sc.parallelize(k)
result_rdd = rdd.flatMap(lambda line: line.split(" ")) \
    .map(lambda word: (word, 1)) \
    .reduceByKey(lambda a, b: a + b) \
    .collect()
print(result_rdd)
tweet_result_rdd=pd.DataFrame(result_rdd)
tweet_result_rdd.to_csv(r"/content/tweet_result_rdd.csv")

[('worst', 1), ('no', 5), ('service', 1), ('substantial', 1), ('delivery', 6), ('week', 1), ('we', 46), ('always', 3), ('in', 13), ('confirmation', 1), ('have', 18), ('update', 2), ('tracking', 5), ('fancy', 1), ('already', 1), ('don', 5), ('look', 7), ('pass', 2), ('details', 6), ('https', 44), ('co', 45), ('lil', 1), ('sounds', 1), ('like', 7), ('know', 13), ('playlist', 1), ('this', 27), ('year', 2), ('bv', 2), ('d', 7), ('help', 9), ('when', 5), ('connect', 1), ('us', 28), ('matt', 1), ('friendshipgoals', 1), ('oh', 1), ('i', 23), ('out', 6), ('into', 6), ('options', 3), ('hear', 4), ('as', 4), ('let', 7), ('doesn', 5), ('arrive', 6), ('tomorrow', 2), ('an', 8), ('ar', 3), ('apologies', 2), ('incorrect', 1), ('item', 5), ('using', 2), ('above', 2), ('do', 4), ('further', 5), ('concerns', 1), ('ca', 1), ('thanks', 11), ('shout', 1), ('looking', 2), ('improve', 1), ('share', 1), ('specific', 1), ('feedback', 7), ('via', 4), ('form', 1), ('sj', 6), ('delay', 1), ('indicate', 1), ('new', 3), ('check', 1), ('updates', 3), ('amazon', 7), ('is', 13), ('est', 1), ('at', 6), ('checkout', 1), ('late', 2), ('cyqkduakwj', 2), ('af', 2), ('s', 7), ('now', 3), ('identify', 1), ('flagging', 1), ('reviewed', 1), ('earliest', 1), ('account', 2), ('but', 3), ('refund', 2), ('en', 3), ('was', 5), ('sent', 1), ('fulfilled', 1), ('third', 2), ('site', 3), ('doug', 1), ('returns', 1), ('items', 1), ('online', 1), ('more', 3), ('seeing', 1), ('advise', 1), ('there', 2), ('getting', 2), ('below', 1), ('pk', 1), ('truly', 2), ('only', 1), ('able', 3), ('end', 1), ('of', 3), ('enjoying', 2), ('collection', 1), ('keeps', 1), ('binge', 1), ('watch', 1), ('feel', 4), ('athena', 1), ('rather', 2), ('delivering', 2), ('things', 1), ('than', 1), ('cold', 1), ('medicine', 1), ('am', 1), ('customer', 2), ('sr', 5), ('card', 2), ('typically', 3), ('process', 1), ('business', 2), ('days', 1), ('requested', 2), ('ve', 2), ('connecting', 1), ('leave', 3), ('way', 2), ('ab', 1), ('waiting', 1), ('carriers', 1), ('until', 2), ('shipment', 1), ('transit', 1), ('destination', 1), ('edd', 1), ('promised', 1), ('inconvenience', 2), ('caused', 1), ('alerts', 2), ('forwarded', 1), ('relevant', 1), ('department', 2), ('jj', 1), ('trouble', 3), ('tried', 1), ('unlinking', 1), ('linking', 1), ('cs', 1), ('sound', 1), ('right', 1), ('support', 3), ('availability', 1), ('payment', 2), ('couriers', 1), ('make', 2), ('sure', 4), ('regret', 1), ('work', 1), ('these', 4), ('instances', 1), ('never', 1), ('happen', 1), ('bringing', 2), ('page', 1), ('investigate', 1), ('hb', 4), ('receiver', 1), ('stopped', 1), ('working', 1), ('very', 1), ('interest', 2), ('phone', 3), ('longer', 1), ('visit', 2), ('mobile', 1), ('browser', 1), ('where', 2), ('newest', 1), ('following', 2), ('steps', 4), ('sb', 1), ('understand', 1), ('showing', 1), ('allow', 1), ('free', 2), ('chat', 2), ('assistance', 1), ('team', 2), ('send', 1), ('use', 1), ('desktop', 1), ('cd', 1), ('concern', 1), ('filled', 1), ('mm', 1), ('didn', 1), ('ask', 1), ('are', 2), ('quality', 1), ('shirt', 1), ('contacted', 2), ('them', 1), ('ra', 1), ('delighted', 1), ('appreciation', 1), ('stayhealthy', 1), ('friendly', 1), ('love', 1), ('certainly', 1), ('try', 3), ('danny', 1), ('may', 2), ('open', 1), ('settings', 1), ('kd', 1), ('tm', 2), ('john', 1), ('recommend', 1), ('website', 1), ('social', 1), ('gl', 3), ('confirm', 1), ('questions', 2), ('li', 1), ('start', 1), ('puppy', 1), ('pretty', 1), ('cute', 1), ('sharing', 1), ('becoming', 1), ('joke', 1), ('speak', 1), ('trying', 1), ('put', 1), ('cutting', 1), ('eligible', 1), ('edit', 1), ('orders', 1), ('letting', 2), ('acct', 1), ('books', 1), ('select', 1), ('vihgdspeur', 1), ('goes', 1), ('mark', 1), ('anything', 1), ('night', 1), ('close', 1), ('click', 1), ('quickly', 1), ('regarding', 1), ('issues', 1), ('hasn', 1), ('qualify', 1), ('claim', 1), ('give', 1), ('other', 1), ('reported', 1), ('looked', 1), ('shopping', 4), ('experience', 9), ('reply', 2), ('to', 65), ('complaints', 1), ('for', 50), ('post', 1), ('guarantee', 3), ('date', 5), ('aim', 2), ('deliver', 4), ('by', 8), ('the', 65), ('given', 1), ('your', 34), ('email', 3), ('missed', 1), ('that', 20), ('any', 8), ('nf', 1), ('you', 64), ('so', 18), ('knooow', 1), ('ep', 2), ('awww', 1), ('happy', 5), ('birthday', 2), ('t', 61), ('a', 25), ('day', 4), ('over', 1), ('on', 14), ('here', 33), ('surprise', 1), ('rs', 2), ('what', 6), ('add', 1), ('halloween', 1), ('hi', 14), ('moment', 1), ('please', 20), ('with', 6), ('yp', 2), ('friendsforever', 1), ('jo', 6), ('m', 13), ('sorry', 21), ('reach', 3), ('can', 28), ('haplpmlfhn', 5), ('contact', 11), ('and', 17), ('ll', 9), ('it', 19), ('keep', 7), ('posted', 6), ('if', 22), ('they', 1), ('direct', 1), ('number', 1), ('bad', 2), ('request', 4), ('return', 5), ('link', 6), ('provided', 3), ('sh', 6), ('hey', 9), ('glad', 3), ('issue', 2), ('has', 3), ('been', 2), ('resolved', 1), ('re', 10), ('pls', 3), ('did', 1), ('e', 2), ('mail', 2), ('order', 10), ('need', 4), ('download', 2), ('video', 2), ('app', 6), ('which', 1), ('separate', 1), ('from', 2), ('how', 3), ('report', 2), ('not', 4), ('cl', 2), ('up', 2), ('ak', 1), ('access', 3), ('through', 3), ('twitter', 2), ('review', 4), ('wrong', 2), ('case', 2), ('being', 1), ('or', 4), ('party', 2), ('seller', 5), ('our', 10), ('arrange', 1), ('most', 3), ('see', 3), ('info', 4), ('cj', 2), ('aren', 1), ('contacting', 1), ('error', 1), ('while', 2), ('redeeming', 1), ('rw', 1), ('directly', 1), ('want', 2), ('customers', 1), ('be', 8), ('aw', 1), ('prime', 1), ('better', 3), ('stay', 1), ('tuned', 1), ('soon', 2), ('much', 2), ('fun', 1), ('features', 1), ('refunds', 1), ('credit', 1), ('within', 1), ('received', 1), ('shall', 1), ('about', 4), ('skgzkjcdng', 1), ('went', 1), ('could', 1), ('elaborate', 1), ('arrived', 3), ('exchange', 2), ('find', 2), ('damaged', 1), ('replacement', 3), ('nxgaalzhis', 1), ('will', 6), ('pm', 1), ('then', 3), ('wj', 4), ('scan', 3), ('indicates', 1), ('should', 2), ('manage', 2), ('text', 1), ('spotify', 1), ('alexa', 1), ('time', 3), ('unable', 2), ('mpos', 1), ('device', 1), ('cod', 1), ('vs', 1), ('create', 1), ('stock', 2), ('same', 1), ('place', 1), ('its', 1), ('isn', 2), ('repeated', 1), ('attention', 2), ('list', 1), ('me', 3), ('next', 1), ('thank', 1), ('windows', 1), ('application', 1), ('available', 2), ('encourage', 1), ('cancel', 1), ('membership', 1), ('hope', 3), ('helps', 3), ('concerned', 1), ('expected', 1), ('status', 2), ('some', 3), ('real', 1), ('td', 1), ('kindle', 3), ('teams', 2), ('assist', 2), ('hg', 2), ('ctrl', 1), ('f', 1), ('address', 1), ('get', 3), ('kindly', 1), ('drop', 1), ('shared', 1), ('earlier', 2), ('asked', 1), ('receive', 1), ('reviews', 1), ('written', 1), ('w', 2), ('purchased', 1), ('product', 1), ('happynewyear', 1), ('packages', 1), ('ja', 3), ('shoutout', 1), ('knowing', 1), ('helped', 1), ('updated', 1), ('sorted', 2), ('ae', 3), ('menu', 1), ('packaging', 1), ('submit', 1), ('amp', 1), ('picture', 1), ('checking', 1), ('media', 1), ('back', 1), ('frustrating', 1), ('reading', 1), ('lg', 1), ('paw', 1), ('supervisor', 1), ('colleagues', 1), ('off', 1), ('still', 1), ('modify', 1), ('method', 1), ('great', 2), ('evening', 1), ('else', 1), ('yourself', 1), ('recent', 1), ('location', 1), ('cleared', 1), ('customs', 1), ('view', 1), ('were', 1), ('ship', 1), ('fitbit', 1), ('arrives', 1), ('information', 1), ('rm', 1), ('z', 1), ('found', 1), ('had', 1), ('internally', 1), ('patience', 1), ('hk', 1)]

# TASK 2
Join the text content of each tweet according to ‚Äúid_str‚Äù to Amazon_Responded_Oct05.csv and fill in the ‚Äútext‚Äù column.

In [20]:
# Loading and reading the find_text.csv file
findtext_data= spark.read.format("csv").option("header","true").load("drive/My\ Drive/Colab\ Notebooks/find_text.csv")
findtext_data.show(5,False)

+--------------------+----+
|id_str              |text|
+--------------------+----+
|'793270689780203520'|null|
|'793281386912354304'|null|
|'793299404975247360'|null|
|'793301295255945216'|null|
|'793315815411978240'|null|
+--------------------+----+
only showing top 5 rows

In [21]:
# The output needs to have tweet IDs stitched to its corresponding text response from the Amazon Tweets text file.
findtext_data.registerTempTable("ids")
data.registerTempTable("tweets")
out = sqlcontext.sql("SELECT DISTINCT I.id_str,T.text_ from ids I JOIN tweets T on I.id_str = T.id_str")
out.show(5,False)
output = out.toPandas()
output.to_csv(r"/content/join_output.csv") # Output the file as a CSV

+--------------------+-----------------------------------------------------------------------------------------------------------------------------------------+
|id_str              |text_                                                                                                                                    |
+--------------------+-----------------------------------------------------------------------------------------------------------------------------------------+
|'793382930085253121'|@mybharatraj Hi! Sorry about that. I'd like our team to look into this, please reach out to us via: https://t.co/vlvfJr4nN9 ^SG          |
|'793441656984903680'|@AmazonHelp done, please contact them and let them know I am waiting for my package.                                                     |
|'793517259880861696'|Your customer service sucks, @AmazonHelp. If you guys can't do your job, perhaps go back to school and learn something proper.           |
|'793533066157387776'|@flamablebrownie When checking your account, are you signed into the email that was used to place the order: https://t.co/aaDyEz1VgE? ^HB|
|'793542659625349121'|So now @AmazonHelp is helping my hacker instead of helping me. Good job. üôÑ Why do you even have a help centre if you're of no help?     |
+--------------------+-----------------------------------------------------------------------------------------------------------------------------------------+
only showing top 5 rows